.visualization {
    float: left;
    position: relative;
    width: 100%;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

.content-container {
    width: 400px;
    height: 160px;
}

.image-wrapper {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: width 4s ease-in-out;
}

.car {
    width: 400px;
    display: block;
    vertical-align: middle;
}

.car-greyscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}