@font-face {
    font-family: LuckiestGuy;
    src: url('../assets/LuckiestGuy-Regular.ttf');
}

.visualization {
    float: left;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-container {
    margin: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-wrapper {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: width 2s ease-in-out, opacity 2s ease-in-out;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    font-family: LuckiestGuy, sans-serif;
}

.text-colorful {
    text-shadow: 2px 2px 2px rgba(90, 90, 90, 1);
}

.yellow {
    color: #FFBA01;
}

.red {
    color: #F44336;
}

.blue {
    color: #2296F3;
}

.text-greyscale {
    color: #737373;
    text-shadow: 2px 2px 2px rgba(0,0,0, 1);
}

.car {
    display: block;
    vertical-align: middle;
}

.car-greyscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}